# - name: Check if Nginx is installed
#   command: nginx -v
#   register: nginx_installed
  

# - name: Install Nginx
#   apt:
#     name: nginx
#     state: present
#   when: nginx_installed.rc != 0
#   notify: 
#     - Start Nginx

# - name: Notify cmpletamento
#   debug:
#     msg: "Nginx instalazzione completa"
#   when: nginx_installed.rc != 0

# - name: Notify Nginx già installato 
#   debug:
#     msg: "nginx già installato"
#   when: nginx_installed.rc == 0

# - name: Include variables from vars folder
#   include_vars:
#     file: roles/common/vars/vars.yml
# - name: stampa valore variabile
#   debug:
#     var: vars_ciao   #utlilizzo variabile in altro file 

# #esempio filtri 

# - name: Esegui una task con parametri
#   debug:
#     msg: "Il nome dell'applicazione è {{ app_config.name }}, la versione è {{ app_config.version }} e la porta è {{ app_config.port }}"
#   vars:
#     app_config:
#       name: MyApp
#       version: 1.0
#       port: 8080
# #somma pori 
# - name: Creazione della lista
#   set_fact:
#     my_list: "1,2,3,4,5"

# - name: Stampa una stringa in maiuscolo
#   debug:
#     msg: "{{ 'hello' | upper }}"

# - name: Creazione della lista
#   set_fact:
#     my_list: "{{ my_list.split(',') | map('int') | list }}"

# - name: Visualizza i valori della lista
#   debug:
#     var: my_list

# - name: Stampa gli elementi pari di una lista
#   debug:
#     msg: "{{ my_list | select('even') | list }}"
#   register: somma_result

# - name: Calcola una somma
#   set_fact:
#     somma: "{{ somma_result.msg | sum }}"
#   notify: Notifica somma calcolata

# - name: Importa handlers
#   import_tasks: handlers.yml
  
  
  #esempio import task 
- name: Importa le task da install-nginx.yml
  include_tasks: roles/fe/tasks/install-nginx.yml

- name: Importa le task da return.yml
  include_tasks: roles/common/tasks/return.yml

- name: Importa le task da somma.yml
  include_tasks: roles/fe/tasks/somma.yml


- name: soluzione es1
  include_tasks: roles/fe/tasks/es1.yml

- name: soluzione es1
  include_tasks: roles/fe/tasks/es1sol-lunga.yml



# - name: Importa le task da gestione_file.yml
#   include_tasks: roles/fe/tasks/gestione_file.yml

# - name: Importa le task da form.yml
#   include_tasks: form.yml

